<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Curriculum Vitae</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h3>2020 BitLab Curso JAVA</h3>
        <p>Curso de java nivel intermedio:<br>
          ~Framework JSF<br>
          ~EJB<br>
          ~Servidores de aplicaciones en Google Cloud<br>
          ~Uso de DNS con GoDaddy<br>
          ~GIT<br>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>2019-2020 Usaid Curso JAVA</h3>
        <p>Curso de java nivel intermedio:<br>
          ~Framework JSF<br>
          ~JPA<br>
          ~Primefaces<br>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>