<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informatión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aplicación desarrollada por Juan Ruiz.
        A continuación puede consultar más información del autor.
      </p>

      <ion-list>
        <ion-list-header>
          Opciones
        </ion-list-header>
        <ion-item>
          <ion-nav-link (click)="mostrarCurriculum()" style="text-decoration:none; color: black;"><ion-icon slot="start" name="document-text-outline"></ion-icon>
            Curriculum Vitae
          </ion-nav-link>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            juanativi95@gmail.com
          </ion-label>
        </ion-item>

        <ion-item>
          <a style="text-decoration:none; color: black;"
            href="https://twitter.com/dccomics?lang=es">
            <ion-icon name="logo-twitter"></ion-icon>
            Twitter
          </a>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-icon name="call-outline"></ion-icon>
            +503 79864160
          </ion-label>
        </ion-item>


      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>