<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>iBiblioteca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Libros disponibles</ion-list-header>
    <ion-item *ngFor="let libro of Libros.libros" (click)="mostrarDetalle(libro)">
      <ion-thumbnail slot="start">
        <img src="../../assets/imgs/{{libro.imagen}}" />
      </ion-thumbnail>
      <ion-label>
        <h3>{{libro.titulo}}</h3>
        <p>{{libro.editorial}}</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>