<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <img src="../../assets/imgs/logo_1.jpg" />
      <ion-card-header>
        <ion-card-title>Bienvenido</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="ion-text-justity">iBlioteca es una aplicación desarrollada con IONIC, que permite gestionar una
          biblioteca de un centro educativo.</p>
        <p class="ion-text-justity">Para acceder a la biblioteca de TAP sobre el botón siguiente:</p>
      </ion-card-content>
    </ion-card>
    <ion-button expand="full" (click)="lanzarBiblioteca()">
      <ion-icon slot="start" name="book-outline"></ion-icon>
      Acceso Biblioteca
    </ion-button>

  </div>
</ion-content>

<ion-footer class="ion-padding">
  
      <ion-nav-link (click)="lanzarAutor()">
        <ion-icon slot="start" name="people-circle-outline"></ion-icon>
        Autor
      </ion-nav-link>

</ion-footer>